# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore build/compiled files
build/
dist/

# Ignore my media files
media/

# Ignore system files (Mac & Windows)
.DS_Store
Thumbs.db

# Ignore CSV files
*.csv

# Ignore testing files
test*.py